{% extends 'base.html' %}
{% block content %}
{% block title %}<h1>Ego-Caption Survey</h1>{% endblock %}
<h5>Hi {{name}}, please read the instructions carefully before writing your caption for each image.</h5>
<p>No. {{idx + 1}} out of 100:</p>
{% for i in imgs %}
<img src="{{ url_for('static', filename=i) }}" height="480px" class="rounded mx-auto d-block" alt="..." />
<p></p>
{% with msgs = get_flashed_messages() %}
{% for msg in msgs %}
<p>{{msg}}</p>
{% endfor %}
{% endwith %}
<form action="#" method="post">
    <p style="text-align:center">Your caption: <input type="text" name="caption" style="width: 1000px;" maxlength="127" /></p>
    <p style="text-align:center"><input type="submit" value="Next" /></p>
</form>
{% endfor %}
<a href="#" class="btn btn-primary btn-lg disabled" role="button">Submit</a>
<a href="{{ url_for('logout') }}" class="btn btn-secondary btn-lg" role="button">Exit</a>
{% endblock %}